@{
    ViewData["Title"] = "CountTime Page";
}

@using Nspace = Employee.Models

@model IEnumerable<Nspace.Task>
@{
    ViewBag.Title = "All tasks";
}
<script>
    function deleteTasks(id) {
        $.ajax({
            type: "DELETE",
            url: "/Tasks/Delete/" + id,
            success: function(){
                window.location.href = "/Tasks/Index";
            },
            error: function (jqXHR) {
                     alert(jqXHR.responseText);
            }
        })

    }
</script>
<a asp-action="Create">Create task</a>
<table class="table">
    <tr>
        <td>Name task</td>
        <td>Comments</td>
        <td></td>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.Name</td>
            <td>@item.Comment</td>
            <td>
                <a asp-action="Edit" asp-controller="Tasks" asp-route-id="@item.Id">Edit</a> |
                <a href="#" onclick="deleteTasks(@item.Id)">Delete</a>
            </td>
        </tr>
    }
</table>