@model Time
@{
    ViewBag.Title = "Добавление дэдлайна";
}
<form asp-action="create" asp-controller="Times">
    <div class="form-group">
        <label asp-for="EmployeeId" class="control-label">Сотрудник</label>
        <select asp-for="EmployeeId" asp-items="ViewBag.Employees">
            <option selected="selected" disabled="disabled">Выберите сотрудника</option>
        </select>
    </div>
     <div class="form-group">
        <label asp-for="TaskId" class="control-label">Задачи</label>
        <select asp-for="TaskId" asp-items="ViewBag.Tasks">
            <option selected="selected" disabled="disabled">Выберите задачу</option>
        </select>
    </div>
    <div class="form-group">
        <label asp-for="Date" class="control-label">Дата</label>
        <input type="text" asp-for="Date" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="Minutes" class="control-label">Время</label>
        <input type="text" asp-for="Minutes" class="form-control" />
    </div>
    <div class="form-group">
        <input type="submit" value="Добавить" class="btn btn-default" />
    </div>
</form>
