@model Time
@{
    ViewBag.Title = "Редактирование дэдлайна";
}
<form asp-action="edit" asp-controller="Times" >
    <div class="form-group">
        <label asp-for="EmployeeId" class="control-label">Employees</label>
        <select asp-for="EmployeeId" asp-items="ViewBag.Employees">
            <option selected="selected" disabled="disabled">Shoose employee</option>
        </select>
    </div>
     <div class="form-group">
        <label asp-for="TaskId" class="control-label">Tasks</label>
        <select asp-for="TaskId" asp-items="ViewBag.Tasks">
            <option selected="selected" disabled="disabled">Shoose tasks</option>
        </select>
    </div>
    <div class="form-group">
        <label asp-for="Date" class="control-label">Date</label>
        <input type="text" asp-for="Date" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="Minutes" class="control-label">Time</label>
        <input type="text" asp-for="Minutes" class="form-control" />
    </div>
    <div class="form-group">
        <input type="submit" value="Edit" class="btn btn-default" />
    </div>
</form>